iis-hub-pilot/src/wsdl/cdc-iis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="IISService"
    targetNamespace="urn:cdc:iisb:2014"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:iis="urn:cdc:iisb:2014"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:documentation>CDC Immunization Information Systems (IIS) SOAP web service.</wsdl:documentation>
    
    <!--====================================================================================================
    = TYPES
    =====================================================================================================-->
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="urn:cdc:iisb:2014" schemaLocation="../schema/cdc-iis.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <!--====================================================================================================
    = OPERATION MESSAGES: CONNECTIVITY TEST
    =====================================================================================================-->
    <wsdl:message name="connectivityTest_Message">
        <wsdl:documentation>Connectivity test request message.</wsdl:documentation>
        <wsdl:part name="parameters" element="iis:connectivityTest"/>
    </wsdl:message>
    
    <wsdl:message name="connectivityTestResponse_Message">
        <wsdl:documentation>Connectivity test response message.</wsdl:documentation>
        <wsdl:part name="parameters" element="iis:connectivityTestResponse"/>
    </wsdl:message>
    
    <!--====================================================================================================
    = OPERATION MESSAGES: SUBMIT SINGLE MESSAGE
    =====================================================================================================-->
    <wsdl:message name="submitSingleMessage_Message">
        <wsdl:documentation>Submit single message request message.</wsdl:documentation>
        <wsdl:part name="parameters" element="iis:submitSingleMessage"/>
    </wsdl:message>
    
    <wsdl:message name="submitSingleMessageResponse_Message">
        <wsdl:documentation>Submit single message response message.</wsdl:documentation>
        <wsdl:part name="parameters" element="iis:submitSingleMessageResponse"/>
    </wsdl:message>
    
    <!--====================================================================================================
    = FAULT MESSAGES
    =====================================================================================================-->
    <wsdl:message name="messageTooLargeFault_Message">
        <wsdl:part name="fault" element="iis:messageTooLargeFault"/>
    </wsdl:message>
    
    <wsdl:message name="securityFault_Message">
        <wsdl:part name="fault" element="iis:securityFault"/>
    </wsdl:message>
    
    <wsdl:message name="unknownFault_Message">
        <wsdl:part name="fault" element="iis:unknownFault"/>
    </wsdl:message>
    
    <wsdl:message name="unsupportedOperationFault_Message">
        <wsdl:part name="fault" element="iis:unsupportedOperationFault"/>
    </wsdl:message>
    
    <!--====================================================================================================
    = PORT TYPES
    =====================================================================================================-->
    <wsdl:portType name="IIS_PortType">
        <wsdl:operation name="connectivityTest">
            <wsdl:documentation>Connectivity test operation.</wsdl:documentation>
            <wsdl:input name="connectivityTest_Message" message="iis:connectivityTest_Message" wsaw:Action="urn:cdc:iisb:2014:connectivityTest"/>
            <wsdl:output name="connectivityTestResponse_Message" message="iis:connectivityTestResponse_Message"
                wsaw:Action="urn:cdc:iisb:2014:connectivityTestResponse"/>
            <wsdl:fault name="unknownFault" message="iis:unknownFault_Message"/>
            <wsdl:fault name="unsupportedOperationFault" message="iis:unsupportedOperationFault_Message"/>
        </wsdl:operation>
        
        <wsdl:operation name="submitSingleMessage">
            <wsdl:documentation>Submit single message operation.</wsdl:documentation>
            <wsdl:input name="submitSingleMessage_Message" message="iis:submitSingleMessage_Message" wsaw:Action="urn:cdc:iisb:2014:submitSingleMessage"/>
            <wsdl:output name="submitSingleMessageResponse_Message" message="iis:submitSingleMessageResponse_Message"
                wsaw:Action="urn:cdc:iisb:2014:submitSingleMessageResponse"/>
            <wsdl:fault name="messageTooLargeFault" message="iis:messageTooLargeFault_Message"/>
            <wsdl:fault name="securityFault" message="iis:securityFault_Message"/>
            <wsdl:fault name="unknownFault" message="iis:unknownFault_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!--====================================================================================================
    = BINDINGS
    =====================================================================================================-->
    <wsdl:binding name="IIS_Binding_Soap12" type="iis:IIS_PortType">
        <wsaw:UsingAddressing wsdl:required="false"/>
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        
        <wsdl:operation name="connectivityTest">
            <soap12:operation soapAction="urn:cdc:iisb:2014:connectivityTest"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="unknownFault">
                <soap12:fault name="unknownFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="unsupportedOperationFault">
                <soap12:fault name="unsupportedOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="submitSingleMessage">
            <soap12:operation soapAction="urn:cdc:iisb:2014:submitSingleMessage"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="messageTooLargeFault">
                <soap12:fault name="messageTooLargeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="securityFault">
                <soap12:fault name="securityFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="unknownFault">
                <soap12:fault name="unknownFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <!--====================================================================================================
    = SERVICES
    =====================================================================================================-->
    <wsdl:service name="IIS_Service">
        <wsdl:port binding="iis:IIS_Binding_Soap12" name="IIS_Port_Soap12">
            <soap12:address location="http://localhost/IISService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>